amqp
asgiref
Babel
beautifulsoup4
bs4
CacheControl
cachetools
category-encoders
celery
coreapi
Django
django-admin-tailwind
django-admin-volt
django-compat
django-cors-headers
django-filter
django-forestadmin
django-ipware
django-templated-mail
djangorestframework
djangorestframework-simplejwt
drf-yasg
Pillow
psycopg2-binary
python-dotenv
requests
rest-framework-simplejwt
whitenoise
dj-database-url