alive-progress
amqp
asgiref
Babel
beautifulsoup4
bs4
CacheControl
cachetools
category-encoders
celery
coreapi
Django
django-admin-tailwind
django-admin-volt
django-compat
django-cors-headers
django-filter
django-forestadmin
django-ipware
django-templated-mail
djangorestframework
djangorestframework-simplejwt
drf-yasg
firebase-admin
google
google-api-core
google-api-python-client
google-auth
graphviz
gunicorn
Pillow
psycopg2
python-dotenv
redis
requests
rest-framework-simplejwt
whitenoise
selenium