<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- add tailwind css -->
        {% load static %}
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'admin/override.css' %}" />
        <title>Pricee</title>
    </head>
    <body class="w-screen h-screen flex flex-col items-center justify-center">
        <div class="max-w-lg flex flex-col items-center gap-16">
            <img class="w-64" src="{% static 'images/404.svg' %}" alt="" />
            <h2 class="text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold">
                No Content Found
            </h2>
        </div>
    </body>
</html>
